<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="cliente-primero">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle"><img src="../images/clienteLoPrimero.png"></div>
      <!--div><img src="../images/unSoloEquipo.png"></div-->
      <h1>El cliente es lo primero</h1>
      <p>En BBVA vemos nuestro trabajo desde la óptica del cliente, incorporando su punto de vista en todas nuestras decisiones y anteponiendo siempre sus intereses.</p>
      <p>Solucionamos las necesidades de nuestros clientes de manera ágil y ejecutiva, superando cualquier dificultad que nos encontremos. </p>
    </div>
  </template>

  <script>
    class ClientePrimero extends Polymer.Element {
      static get is() { return 'cliente-primero'; }
    }

    window.customElements.define(ClientePrimero.is, ClientePrimero);
  </script>
</dom-module>
