<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href = "../bower_components/webcomponentsjs/webcomponents-loader.js">

<dom-module id="insert-data">
  <template>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/js/bootstrap.js"-->

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      h1{
        text-decoration: underline;
      }

      div.principal {
         background-color: lightblue;
      }


    </style>

    <br>
    <br>
  <div id="principal" class="container" style="text-align:center; background-color: white;">

    <!--label for="tipoTarjeta">Seleccione tipo de Tarjeta: </label-->

    <div class="row">
      <h1>Tipo de Tarjeta: </h1>
      <select id='tipoTarjeta' name='seleccion' value="{{data::input}}" style="font-size:40px;">
        <option value='0'>Seleccione</option>
        <option value='Tarjeta Visa'>Tarjeta Visa</option>
        <option value='Tarjeta Visa LifeMiles'>Tarjeta Visa LifeMiles</option>
        <option value='Tarjeta Master'>Tarjeta Master</option>
        <option value='Tarjeta Master Clasica'>Tarjeta Master Clasica</option>
        <option value='Tarjeta Master Platino'>Tarjeta Master Platino</option>
        <option value='Tarjeta Master Estandar'>Tarjeta Master Estandar</option>
      </select>
    </div>
    <br>
    <br>
      <!--label for="montoInput">Ingrese Monto: </label-->
      <div class="row">
        <h1>Ingrese Monto: </h1>
        <input style="font-size:40px;" type="text" value="{{monto::input}}" id="montoInput"/><br>
      </div>
      <br>
      <br>

  <button style="font-size:40pt; text-align:center;" class="btn btn-primary" on-click="ingresarDatos" type="button" name="button">Guardar</button>

</div>

  </template>


  <script>
    class InsertData extends Polymer.Element {
      static get is() { return 'insert-data'; }
      static get properties(){
        return{

          data : {
            type : Object
          },

          monto :{
            type: Object
          }

        };
      }


      ingresarDatos(){
        var url = "http://localhost:3002/productos";
        var request = new XMLHttpRequest();
        request.open("POST", url, false);
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        var tipoProducto = this.data;
        var montoProducto = this.monto;
        var fecha = new Date();
        var fecha1 = fecha.toString();
        var fecha= fecha1.substring(4,15);
        var nuevoProducto = {"producto":tipoProducto, "saldo":montoProducto, "fechaApertura":fecha};
        var body = JSON.stringify(nuevoProducto);
        request.send(body);
        this.respuesta=request.responseText;
        console.log(fecha1);
        console.log(this.respuesta);
        console.log(nuevoProducto);

      }

    }

    window.customElements.define(InsertData.is, InsertData);
  </script>
</dom-module>
