<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="pensamos-grande">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle"><img src="../images/pensandoEnGrande.png"></div>
      <!--div><img src="../images/unSoloEquipo.png"></div-->
      <h1>Pensamos en grande</h1>
      <p>Queremos sorprender a nuestros clientes con las mejores soluciones, generando experiencias únicas.</p>
      <p>Para ello, nos marcamos retos ambiciosos y aspiracionales, cuestionando todo lo que hacemos y planteando nuevas formas de hacer las cosas.</p>
    </div>
  </template>

  <script>
    class PensamosGrande extends Polymer.Element {
      static get is() { return 'pensamos-grande'; }
    }

    window.customElements.define(PensamosGrande.is, PensamosGrande);
  </script>
</dom-module>
