<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!--link rel="import" href="../bower_components/paper-elements/paper-elements.html"-->
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/polymer/lib/mixins/property-effects.html">


<dom-module id="posicion-global">
  <template>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
      :host {
        display: block;
      }
      .flag {
        width: 10px;
        height: 570px;

      }
      TD{font-family: Arial; font-size:20pt;}
      .pesos:before {
        content: "$";
      }
    </style>


    <div class="container">
      <div class="row" style="background-color: white;">
        <h1 class="col-lg-12">Posicion Global</h1>
        <button class="btn btn-primary" on-click="obtenerProductos" type="button" name="button">Mis Productos</button>

        <!-- Button trigger modal -->
        <!--button type="button" class="btn btn-primary" on-click="formularioInsert" >Contratar Producto</button-->

      </div>
      <div class="row">
        <table hidden$="{{noCargados}}" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Importe</th>
              <th scope="col">Fecha Apertura</th>
              <th scope="col">Imagen</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{productos}}">
              <tr>
                <td font-size: 24px>
                  [[item.producto]]
                </td>
                <td class="pesos">
                  [[item.saldo]]
                </td>
                <td>
                  [[item.fechaApertura]]
                </td>
                <td>
                  <img src$="../images/[[item.producto]].jpeg">
                </td>
              </tr>
            </template>
          </tbody>

        </table>

      </div>

    </div>



  </template>

  <script>
    class PosicionGlobal extends Polymer.Element {
      static get is() { return 'posicion-global'; }
      static get properties(){
        return{
          productos: {
            type:Array,
            notify: true
          },
          noCargados:{
            type: Boolean,
            value: true
          }
        };
      }

      obtenerProductos(){
        var url = "http://localhost:3002/productos";
        var request = new XMLHttpRequest();
        request.open("GET",url, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.productos = JSON.parse(request.responseText);
        console.log(this.productos);
        this.noCargados = false;
      }

      formularioInsert(){
        console.log('entra');
        window.location.href="insert-data";
      }

    }


    window.customElements.define(PosicionGlobal.is, PosicionGlobal);
  </script>
</dom-module>
