<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="somos-equipo">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle"><img src="../images/unSoloEquipo.png"></div>
      <!--div><img src="../images/unSoloEquipo.png"></div-->
      <h1>Somos un solo equipo</h1>
      <p>En BBVA estamos comprometidos tanto con nuestro rol personal como con el objetivo común del Grupo, asumiendo los objetivos del banco como propios.</p>
      <p>Trabajamos como un solo equipo, confiando en nuestros compañeros y rompiendo silos entre áreas y barreras jerárquicas.</p>
    </div>
  </template>

  <script>
    class SomosEquipo extends Polymer.Element {
      static get is() { return 'somos-equipo'; }
    }

    window.customElements.define(SomosEquipo.is, SomosEquipo);
  </script>
</dom-module>
